@import '../index.scss';

.title {
  @include title;
}
.subtitle{
  font-size: 1.7rem;
}
.description {
  font-weight: 200;
  font-size: 0.8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-color);
    background-color: transparent;
    color: var(--white);
    border-radius: 0.2rem;
    font-size: 1.5rem;
    width: 10rem;
  }
}
