:root {
  font-family: "Poppins", sans-serif;

  --main-color: #532572;
  --background: #0d1117;
  --white: #ffffff;
  --grey: rgba(255, 255, 255, 0.2);
  --black: #111111;
  --red: hsl(348, 100%, 52%);
  --light-red: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-pink: hsl(348, 100%, 68%);
  --lima-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--white);
}

main {
  position: relative;
  min-height: 100vh;
  padding: 0 10rem;
  max-width: 1400px;
  margin: auto;
  @media (max-width: 920px) {
    padding: 0 5rem;
  }
}

@mixin button {
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 0.2rem;
  font-size: 1rem;
}

@mixin input {
  outline: none;
  border: 0.5px solid var(--grey);
  padding: 0.5rem 0.3rem;
  border-radius: 0.3rem;
  background-color: transparent;
  color: var(--white);
}