@import "../../index.scss";

.container {
  display: flex;
  min-height: 100vh;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 4rem;
      font-weight: 700;
      color: var(--main-color);
    }
    .pText {
      font-weight: 200;
    }
    .viewCV {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: var(--white);
      width: 7rem;
      @include button;
    }
  }
}

// media queries
@media (max-width: 590px) {
  .container {
    .content {
      align-items: center;
      text-align: center;
      .title {
        font-size: 3.5rem;
      }
    }
  }
}
